language: ruby
sudo: false
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.8
  - 2.2.4
  - 2.3.0
  - ruby-head
  - jruby-1.7.20
  - jruby-9.0.5.0
  - jruby-head
  - rbx-2
before_install:
  - gem update bundler --no-document
before_script:
  - unset JRUBY_OPTS
script: ruby -Ilib exe/rake
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
notifications:
  email:
  - drbrain@segment7.net
