language: ruby
rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.10
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - 2.6.1
  - ruby-head
  - jruby-9.2.4.0
  - jruby-head

matrix:
  include:
    - rvm: 2.5.3
      env: COVERALLS=yes

before_script:
  - unset JRUBY_OPTS
  - unset _JAVA_OPTIONS
  - if ruby -e "exit RUBY_VERSION >= '2.3.0'"; then gem update --system=3.0.1; else gem update --system=2.7.8; fi

script: ruby -Ilib exe/rake
