name: coverage

on: [push, pull_request]

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v3.3.0
    - uses: ruby/setup-ruby@5311f05890856149502132d25c4a24985a00d426 # v1.153.0
      with:
        ruby-version: '3.0'
    - name: Install dependencies
      run: gem install minitest -v "5.15.0"
    - name: Run test
      env:
        COVERALLS: "yes"
      run: ruby -Ilib exe/rake
